body{
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/10/03/469422/0453c5e21ab41399cf680fc014c246cd.jpg);
    color: white;
    font-size: 20px;
    padding: 30px;
}

.checkbox{
    padding: 10px;
    }

    